.chatroom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    &__container {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    &__img_container {
        position: relative;
        width: 45px;
        height: 45px;
    }

    &__img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            width: 100%;
        }

        &.first {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            z-index: 10;
            border: 1px solid $white;
        }

        &.second {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 11;
            border: 1px solid $white;
        }
    }

    &__name {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: $font-medium;
        transition: .3s ease-in;
        max-width: calc(100vw - 100px);
        max-height: 1.2em;
        word-break: break-all;
        overflow: hidden;

        &.new {
            font-weight: $font-bold;

            & a {
                color: $black;
            }
        }
    }

    &__info {
        flex: 1;
    }

    &__link {
        color: $dark-grey;
        text-decoration: none;

        &:hover, &:focus, &:active {
            color: $dark-grey;
            font-weight: $font-bold;
        }
    }

    &__members {
        padding-left: 1.5rem;
        font-size: 1.3rem;
        font-weight: $font-medium;
        color: lighten($dark-grey, 45);
    }

    &__message_container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__message, &__date {
        font-size: 1.4rem;
        font-weight: $font-regular;
    }

    &__message {
        flex: 1;
        max-height: 1.2em;
        max-width: calc(100vw - 200px);
        overflow: hidden;
        word-break: break-all;

        &.new {
            color: $black;
            font-weight: $font-medium;
        }
    }
}

.discover {

    .btn {
        padding: .3rem .5rem;
    }
}

.special-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    row-gap: 2rem;
    transition: .5s ease-in;

    .chatroom {
        flex: 1 0 50%;
        transition: .5s ease-in;

        @media screen and (min-width: 900px) {
            flex: 0 0 47%;
        }

        @media screen and (min-width: 1200px) {
            flex: 0 0 31%;
        }
    }
}

.uploading {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 1rem;
    gap: 1rem;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__remove-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        color: $white;
        padding: 0;
        border-radius: $border-radius;
        border: none;

        &:hover {

            &::after {
                background-color: $black;
            }
        }

        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            mask-position: center;
            mask-image: url("/parts/icons/bold/close-circle.svg");
            background-color: $dark-grey;
            transition: .3s ease-in;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        background-color: $light-grey;
        animation: uploadingAnim 3.5s ease-in infinite;
    }
}

@keyframes uploadingAnim {
    0% {
        background-color: $light-grey;
    }
    25% {
        background-color: darken($light-grey, 10);
    }
    50% {
        background-color: $light-grey;
    }
    75% {
        background-color: darken($light-grey, 10);
    }
    100% {
        background-color: $light-grey;
    }
}
