.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 2rem;

    & .checkbox {
        margin-bottom: 0;
    }

    .error {
        display: block;
        font-size: 1.3rem;
        font-weight: $font-regular;
        color: $danger;
        margin-top: .4rem;
    }

    &.special {

        .actions {
            width: 50%;
            align-self: flex-end;
        }
    }

    &__select {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: .5rem;
        border: none;

        &:focus {

            option {

                &:checked {
                    color: $white !important;
                    background-color: $primary !important;
                }
            }
        }


        & option {
            font-family: $font-family;
            font-size: 1.3rem;
            font-weight: $font-regular;
            color: $dark-grey;
            transition: .3s ease-in;

            &:hover {
                background-color: rgba($primary, 0.5);
            }

            &:checked {
                font-weight: $font-medium;
                background-color: lighten($primary, 20);
            }
        }
    }

    &__field {
        display: block;
        width: 100%;
    }

    &__label {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: $font-regular;
        margin-bottom: 0.4rem;
    }

    &__input {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        font-weight: $font-regular;
        padding: 1.4rem 1rem 1.3rem;
        border-radius: 2px;
        border: none;
        background-color: $primary-bg;

        &.error {
            font-size: 1.3rem;
            font-weight: $font-regular;
            color: $black;
            border: 1px solid $danger;
        }
    }

    &__question {
        font-size: 1.8rem;
        font-weight: $font-bold;
        color: $dark-grey;
    }

    &__explain {
        font-size: 1.4rem;
        font-weight: $font-regular;
        color: lighten($dark-grey, 20);
    }


    .actions {
        display: block;
        margin-top: 1rem;

        &__secondary {
            font-size: 1.2rem;
            font-weight: $font-regular;
            margin-top: 1rem;
        }
    }
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    &__container {
        position: relative;
        width: 240px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        overflow: hidden;
        border-radius: $border-radius;
        text-align: center;
        color: $dark-grey;
        padding-right: 120px;
        background-color: $light-grey;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            pointer-events: none;
        }
    }

    &__special-container {
        width: 180px;
        padding-right: 90px;
        justify-self: flex-start;
        transition: .5s ease-in;
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: auto;
        }

        &:before {
            width: 90px;
        }

        .checkbox__input {

            &:checked + .checkbox__label:before {
                transform: translateX(90px);
            }
        }
    }

    &__input {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;

        &:checked + .checkbox__label:before {
            transform: translateX(120px);
            transition: transform 300ms linear;
        }

        & + .checkbox__label {
            position: relative;
            padding: 1rem 0;
            display: block;
            user-select: none;
            pointer-events: none;

            &:before {
                content: "";
                background: rgba($primary, 0.5);
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: $border-radius;
                transform: translateX(0);
                transition: transform 300ms;
            }

            .checkbox__span {
                position: relative;
            }
        }
    }
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    transition: .5s ease-in;
    max-height: 0;
    padding-right: 1rem;
    overflow: hidden;

    &.show {
        margin-bottom: 1.5rem;
        max-height: 3.5rem;
    }

    &__input {
        padding: .5rem;
        flex: 1;
        height: 100%;
        background-color: $light-grey;
        border: none;
    }

    &__label {
        width: 24px;
        height: 24px;
        mask-image: url("/parts/icons/outline/message-text.svg");
        mask-repeat: no-repeat;
        background-color: $dark-grey;
    }
}



