.friends {
    position: sticky;
    grid-column: 9 / 11;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--black10);
    transition: all 1s ease;

    &__title {
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        font-style: var(--title-font-style);
        color: var(--black);
        margin-bottom: 1.5rem;
    }

    .form {
        margin-bottom: 1.25rem;
    }

    .nav {
        margin-bottom: 1rem;

        &__list {
            display: flex;
            gap: 2rem;
            overflow: hidden;
            align-items: center;

            & li {
                display: inline-block;
            }

            & a {
                font-size: var(--semi-title-font-size);
                font-weight: var(--semi-title-font-weight);
                font-style: var(--semi-title-font-style);
                color: var(--black);
                text-decoration: none;
                transition: all .3s ease;

                &.active {
                    border-bottom: 1px solid var(--secondary-color);
                    padding: 0 2px;
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 0.625rem;
        min-height: 15rem;
        max-height: 30.625rem;
        overflow: auto;
        transition: all 1s ease;
    }
}

.friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0.625rem;
    border-radius: var(--border-radius);
    background-color: inherit;
    padding: 3px;

    &:hover {
        background-color: var(--black10);
    }

    &__pseudo {
        font-size: var(--semi-title-font-size);
        font-weight: var(--semi-title-font-weight);
        font-style: var(--semi-title-font-style);
        color: var(--black);

        & a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__img_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: var(--border-radius);

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 6px;
            height: 6px;
            border-radius: var(--border-radius);
        }

        &.online::after {
            background-color: var(--green);
        }

        &.offline::after {
            background-color: var(--red);
        }
    }

    &__img {
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}
