.friends {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .nav {
        display: block;
        position: relative;
        margin-bottom: 2.5rem;
        width: 100%;

        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 2.5rem;
        }

        &__item {
            display: inline-block;
            position: relative;
        }

        &__link {
            font-size: 1.2rem;
            font-weight: $font-regular;
            text-decoration: none;
            text-transform: uppercase;
            color: $dark-grey;
            border-bottom: 2px solid $white;
            cursor: pointer;
            transition: .3s ease-in;

            &.active {
                font-weight: $font-bold;
                color: $black;
                border-bottom: 2px solid $primary;
            }
        }
    }
}

.friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    background-color: inherit;
    position: relative;

    &__remove{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: none;
        z-index: 10;

        .icon {
            background-color: white;
            border-radius: $border-radius;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            right: 50%;
            transform: translateX(calc(50% + 15px));
            transition: .3s ease-in;

            &::after{
                content: '';
                display: block;
                position: relative;
                width: 20px;
                height: 20px;
                mask-image: url("/parts/icons/bold/close-circle.svg");
                mask-repeat: no-repeat;
                mask-position: center;
                background-color: $dark-grey;
                transition: .3s ease-in;
            }
        }

        &:hover {

            .icon {
                background-color: $light-grey;

                &::after {
                    background-color: darken($dark-grey, 20);
                }
            }
        }
    }


    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        &.special {
            flex-direction: column;
            gap: .5rem;
        }
    }

    &__selected {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1.5rem;
        flex-wrap: nowrap;
        overflow-y: auto;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;

        .friend {
            width: auto;
        }
    }

    &__hashtag {
        font-size: 1.2rem;
        font-weight: $font-medium;
        color: lighten($dark-grey, 45);
    }

    &__pseudo {
        font-size: 1.6rem;
        font-weight: $font-medium;
        color: $dark-grey;
    }

    &__img_container {
        position: relative;
        width: 46px;
        height: 46px;

    }

    &__img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

