.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: $font-medium;
    color: $white;
    background-color: $primary;
    border-radius: $border-radius;
    margin-left: .5rem;
}

.status {

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 12px;
        height: 12px;
        border: 2px solid $white;
        border-radius: $border-radius;
    }

    &.absent::after {
        background-color: $light-red;
    }

    &.busy::after {
        background-color: $primary;
    }

    &.online::after {
        background-color: $light-green;
    }

    &.offline::after {
        border: none;
        background-color: transparent;
    }
}
