:root {
  --border-radius: 0.8rem;
  --base-font-family: "Proxima Nova", "Open Sans", sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 300;
  --base-font-style: normal;
  --base-line-height: 1.25;
  --text-font-size: 1rem;
  --text-font-weight: 300;
  --text-font-style: normal;
  --text-line-height: 1.25;
  --title-font-size: 1.25rem;
  --title-font-weight: 800;
  --title-font-style: normal;
  --title-line-height: 1.25;
  --semi-title-font-size: 1rem;
  --semi-title-font-weight: 500;
  --semi-title-font-style: normal;
  --semi-title-line-height: 1.25;
  --date-font-size: 0.8 rem;
  --date-font-weight: 300;
  --date-font-style: normal;
  --date-line-height: 1.25;
  --menu-font-size: 1rem;
  --menu-font-weight: 600;
  --menu-font-style: normal;
  --menu-line-height: 1.25;
  --hashtag-font-size: 1rem;
  --hashtag-font-weight: 300;
  --hashtag-font-style: italic;
  --hashtag-line-height: 1.25;
  --white: rgba(243, 243, 243, 1);
  --white90: rgba(243, 243, 243, 0.9);
  --white80: rgba(243, 243, 243, 0.8);
  --white70: rgba(243, 243, 243, 0.7);
  --white60: rgba(243, 243, 243, 0.6);
  --white50: rgba(243, 243, 243, 0.5);
  --white40: rgba(243, 243, 243, 0.4);
  --white30: rgba(243, 243, 243, 0.3);
  --white20: rgba(243, 243, 243, 0.2);
  --white10: rgba(243, 243, 243, 0.1);
  --pure-white: rgba(255, 255, 255, 1);
  --pure-white90: rgba(255, 255, 255, 0.9);
  --pure-white80: rgba(255, 255, 255, 0.8);
  --pure-white70: rgba(255, 255, 255, 0.7);
  --pure-white60: rgba(255, 255, 255, 0.6);
  --pure-white50: rgba(255, 255, 255, 0.5);
  --pure-white40: rgba(255, 255, 255, 0.4);
  --pure-white30: rgba(255, 255, 255, 0.3);
  --pure-white20: rgba(255, 255, 255, 0.2);
  --pure-white10: rgba(255, 255, 255, 0.1);
  --black: rgba(16, 12, 16, 1);
  --black90: rgba(16, 12, 16, 0.9);
  --black80: rgba(16, 12, 16, 0.8);
  --black70: rgba(16, 12, 16, 0.7);
  --black60: rgba(16, 12, 16, 0.6);
  --black50: rgba(16, 12, 16, 0.5);
  --black40: rgba(16, 12, 16, 0.4);
  --black30: rgba(16, 12, 16, 0.3);
  --black20: rgba(16, 12, 16, 0.2);
  --black10: rgba(16, 12, 16, 0.1);
  --black1: rgba(16, 12, 16, 0.01);
  --principal-color: rgba(255, 148, 0, 1);
  --principal-color90: rgba(255, 148, 0, 0.9);
  --principal-color80: rgba(255, 148, 0, 0.8);
  --principal-color70: rgba(255, 148, 0, 0.7);
  --principal-color60: rgba(255, 148, 0, 0.6);
  --principal-color50: rgba(255, 148, 0, 0.5);
  --principal-color40: rgba(255, 148, 0, 0.4);
  --principal-color30: rgba(255, 148, 0, 0.3);
  --principal-color20: rgba(255, 148, 0, 0.2);
  --principal-color10: rgba(255, 148, 0, 0.1);
  --secondary-color: rgba(210, 0, 0, 1);
  --secondary-color90: rgba(210, 0, 0, 0.9);
  --secondary-color80: rgba(210, 0, 0, 0.8);
  --secondary-color70: rgba(210, 0, 0, 0.7);
  --secondary-color60: rgba(210, 0, 0, 0.6);
  --secondary-color50: rgba(210, 0, 0, 0.5);
  --secondary-color40: rgba(210, 0, 0, 0.4);
  --secondary-color30: rgba(210, 0, 0, 0.3);
  --secondary-color20: rgba(210, 0, 0, 0.2);
  --secondary-color10: rgba(210, 0, 0, 0.1);
  --special-color: rgba(117, 0, 0, 1);
  --special-color90: rgba(117, 0, 0, 0.9);
  --special-color80: rgba(117, 0, 0, 0.8);
  --special-color70: rgba(117, 0, 0, 0.7);
  --special-color60: rgba(117, 0, 0, 0.6);
  --special-color50: rgba(117, 0, 0, 0.5);
  --special-color40: rgba(117, 0, 0, 0.4);
  --special-color30: rgba(117, 0, 0, 0.3);
  --special-color20: rgba(117, 0, 0, 0.2);
  --special-color10: rgba(117, 0, 0, 0.1);
  --red: rgba(230, 0, 0, 1);
  --red90: rgba(230, 0, 0, 0.9);
  --red80: rgba(230, 0, 0, 0.8);
  --red70: rgba(230, 0, 0, 0.7);
  --red60: rgba(230, 0, 0, 0.6);
  --red50: rgba(230, 0, 0, 0.5);
  --red40: rgba(230, 0, 0, 0.4);
  --red30: rgba(230, 0, 0, 0.3);
  --red20: rgba(230, 0, 0, 0.2);
  --red10: rgba(230, 0, 0, 0.1);
  --green: rgba(0, 230, 0, 1);
  --green90: rgba(0, 230, 0, 0.9);
  --green80: rgba(0, 230, 0, 0.8);
  --green70: rgba(0, 230, 0, 0.7);
  --green60: rgba(0, 230, 0, 0.6);
  --green50: rgba(0, 230, 0, 0.5);
  --green40: rgba(0, 230, 0, 0.4);
  --green30: rgba(0, 230, 0, 0.3);
  --green20: rgba(0, 230, 0, 0.2);
  --green10: rgba(0, 230, 0, 0.1);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  background-color: var(--black10);
}

html, html * {
  box-sizing: border-box;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not_sr_only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.principal_button {
  font-family: var(--base-font-family);
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  line-height: var(--semi-title-line-height);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius);
  color: var(--white);
  padding: 1rem 2rem;
  border: 1px solid var(--principal-color);
  background-color: var(--principal-color);
  transition: all 0.5s ease;
}
.principal_button:hover, .principal_button:focus, .principal_button:active {
  transform: scale(1.1);
}

.secondary_button {
  font-family: var(--base-font-family);
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  line-height: var(--semi-title-line-height);
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--black);
  padding: 1rem 2rem;
  border: 1px solid var(--principal-color);
  background-color: var(--white);
  transition: all 0.5s ease;
}
.secondary_button:hover, .secondary_button:focus, .secondary_button:active {
  background-color: var(--principal-color80);
  color: var(--white);
}

.steps {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  grid-gap: 1.5rem;
  min-height: 100vh;
  padding: 0 11.25rem;
}
.steps__linear_gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 53.75rem;
  min-height: 100vh;
  background: var(--secondary-color);
  background: linear-gradient(135deg, var(--secondary-color) 0%, var(--principal-color) 100%);
  z-index: -5;
}
.steps .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  counter-reset: listItem;
}
.steps .nav__list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  line-height: var(--text-line-height);
  color: var(--black);
  text-decoration: none;
}
.steps .nav__list_item:before {
  counter-increment: listItem;
  content: counter(listItem);
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  line-height: var(--semi-title-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  color: var(--black);
  background-color: var(--black10);
}
.steps .nav__list_item.active:before {
  color: var(--white);
  background-color: var(--principal-color);
}
.steps .preview_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1/4;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.steps .preview_card__logo {
  width: 11.25rem;
  margin-bottom: 3rem;
}
.steps .preview_card__logo img {
  width: 100%;
}
.steps .preview_card__title {
  display: block;
  width: 100%;
  font-family: var(--base-font-family);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  line-height: var(--title-line-height);
  color: var(--black);
  text-align: left;
  margin-bottom: 1rem;
}
.steps__form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
  grid-column: 5/10;
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.steps__form_container .step_form {
  width: 100%;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--pure-white);
}
.steps__form_container .step_form__progression {
  display: block;
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  color: var(--black50);
  margin-bottom: 0.125rem;
}
.steps__form_container .step_form__title {
  display: block;
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  line-height: var(--title-line-height);
  color: var(--black);
  margin-bottom: 2rem;
}
.steps__form_container .step_form__field_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}
.steps__form_container .step_form__full_field {
  display: block;
  width: 100%;
}
.steps__form_container .step_form__full_field label {
  font-family: var(--base-font-family);
  display: block;
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  color: var(--black);
  margin-bottom: 0.325rem;
}
.steps__form_container .step_form__full_field input {
  width: calc(50% - 0.75rem);
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  color: var(--black);
  padding: 0.625rem;
  border-radius: 6px;
  border: 1px solid var(--black20);
}
.steps__form_container .step_form__full_field input:focus, .steps__form_container .step_form__full_field input:hover {
  border: 1px solid var(--principal-color);
}
.steps__form_container .step_form__semi_field {
  display: block;
  width: calc(50% - 0.75rem);
}
.steps__form_container .step_form__semi_field label {
  font-family: var(--base-font-family);
  display: block;
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  color: var(--black);
  margin-bottom: 0.325rem;
}
.steps__form_container .step_form__semi_field input {
  width: 100%;
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  color: var(--black);
  padding: 0.625rem;
  border-radius: 6px;
  border: 1px solid var(--black20);
}
.steps__form_container .step_form__semi_field input:focus, .steps__form_container .step_form__semi_field input:hover {
  border: 1px solid var(--principal-color);
}
.steps__form_container .step_form__button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.user_card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--black40);
  min-height: 5.625rem;
}
.user_card__title {
  display: block;
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  line-height: var(--semi-title-line-height);
  color: var(--white);
  z-index: 1;
}
.user_card__info {
  z-index: 1;
}
.user_card__hashtag {
  font-size: var(--hashtag-font-size);
  font-weight: var(--hashtag-font-weight);
  font-style: var(--hashtag-font-style);
  line-height: var(--hashtag-line-height);
  z-index: 1;
}
.user_card__name {
  display: block;
  font-size: var(--date-font-size);
  font-weight: var(--date-font-weight);
  font-style: var(--date-font-style);
  line-height: var(--date-line-height);
  text-transform: uppercase;
  color: var(--white);
  z-index: 1;
}
.user_card__profilpic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 1;
}
.user_card__profilpic img {
  width: 100%;
}
.user_card__bannerpic {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 0;
}
.user_card__bannerpic img {
  width: 100%;
}

/* header */
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  grid-gap: 1.5rem;
  padding: 1.25rem 11.25rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--principal-color);
}
.header__title {
  grid-column: 1/2;
}
.header__logo {
  height: 69px;
}

.form {
  display: flex;
  grid-column: 3/8;
  flex-direction: row;
  border-radius: var(--border-radius);
  background-color: var(--black10);
}
.form__search_container {
  width: 100%;
}
.form__btn {
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: var(--border-radius);
  background-color: var(--black20);
  cursor: pointer;
}
.form__search {
  font-family: var(--base-font-family);
  font-size: 1rem;
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  color: var(--black);
  background-color: inherit;
}
.form__search::-moz-placeholder {
  color: var(--black80);
}
.form__search:-ms-input-placeholder {
  color: var(--black80);
}
.form__search::placeholder {
  color: var(--black80);
}

.disconnect {
  grid-column: 9/10;
}
.disconnect input {
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: flex-start;
  grid-gap: 1.5rem;
  padding: 0 11.25rem;
  margin-top: 1.5rem;
}

.friends {
  position: -webkit-sticky;
  position: sticky;
  grid-column: 8/10;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--white);
  transition: all 1s ease;
}
.friends__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  color: var(--black);
  margin-bottom: 1.5rem;
}
.friends .form {
  margin-bottom: 1.25rem;
}
.friends .nav {
  margin-bottom: 1rem;
}
.friends .nav__list {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
}
.friends .nav__list li {
  display: inline-block;
}
.friends .nav__list a {
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease;
}
.friends .nav__list a.active {
  border-bottom: 1px solid var(--secondary-color);
  padding: 0 2px;
}
.friends__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.625rem;
  min-height: 15rem;
  max-height: 30.625rem;
  overflow: auto;
  transition: all 1s ease;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.625rem;
  border-radius: var(--border-radius);
  background-color: inherit;
  padding: 3px;
}
.friend:hover {
  background-color: var(--black10);
}
.friend__pseudo {
  font-size: var(--semi-title-font-size);
  font-weight: var(--semi-title-font-weight);
  font-style: var(--semi-title-font-style);
  color: var(--black);
}
.friend__pseudo a {
  text-decoration: none;
  color: inherit;
}
.friend__img_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
}
.friend__img_container::after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 6px;
  height: 6px;
  border-radius: var(--border-radius);
}
.friend__img_container.online::after {
  background-color: var(--green);
}
.friend__img_container.offline::after {
  background-color: var(--red);
}
.friend__img {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  grid-column: 1/3;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}
.menu .nav {
  width: 100%;
}
.menu .nav__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.3125rem;
}
.menu .nav__list_item {
  display: block;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
}
.menu .nav__list_item a {
  display: block;
  font-size: var(--menu-font-size);
  font-weight: var(--menu-font-weight);
  font-style: var(--menu-font-style);
  line-height: var(--menu-line-height);
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: var(--black);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.menu .nav__list_item a:not(.active):hover, .menu .nav__list_item a:not(.active):focus {
  background-color: var(--principal-color20);
  color: var(--principal-color);
}
.menu .nav__list_item a.active, .menu .nav__list_item a:active {
  background-color: var(--principal-color30);
  color: var(--principal-color);
}
