/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  background-color: #F3F3F3;
}

html, html * {
  box-sizing: border-box;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not_sr_only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

main {
  margin-top: 8.5rem;
}

/* header */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  grid-gap: 1.5rem;
  width: 100vw;
  padding: 1.25rem 3rem;
  background-color: #F3F3F3;
  border-bottom: 1px solid #FF9400;
}
.header__title {
  grid-column: 1/2;
}
.header__logo {
  height: 69px;
}

.form {
  display: flex;
  grid-column: 2/4;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgba(16, 12, 16, 0.25);
}
.form__search_container {
  width: 100%;
}
.form__btn {
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: 10px;
  background-color: rgba(16, 12, 16, 0.2);
}
.form__search {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  color: #F3F3F3;
  background-color: inherit;
}
.form__search::-moz-placeholder {
  color: rgba(243, 243, 243, 0.8);
}
.form__search:-ms-input-placeholder {
  color: rgba(243, 243, 243, 0.8);
}
.form__search::placeholder {
  color: rgba(243, 243, 243, 0.8);
}

.main {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: flex-start;
  grid-gap: 1.5rem;
  padding: 0 3rem;
}

.friends {
  grid-column: 9/11;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(16, 12, 16, 0.1);
  transition: all 1s ease;
}
.friends__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #100C10;
  margin-bottom: 1.5rem;
}
.friends .form {
  margin-bottom: 1.25rem;
}
.friends .nav {
  margin-bottom: 1rem;
}
.friends .nav__list {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  align-items: center;
}
.friends .nav__list li {
  display: inline-block;
}
.friends .nav__list a {
  font-size: 1rem;
  font-weight: 500;
  color: #100C10;
  text-decoration: none;
  transition: all 0.3s ease;
}
.friends .nav__list a.active {
  border-bottom: 1px solid #D20000;
  padding: 0 2px;
}
.friends__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.625rem;
  min-height: 15rem;
  max-height: 30.625rem;
  overflow: auto;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.625rem;
  border-radius: 10px;
  background-color: inherit;
  padding: 3px;
}
.friend:hover {
  background-color: rgba(16, 12, 16, 0.1);
}
.friend__pseudo {
  font-size: 1rem;
  font-weight: 500;
  color: #100C10;
}
.friend__pseudo a {
  text-decoration: none;
  color: inherit;
}
.friend__img_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
}
.friend__img_container::after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
.friend__img_container.online::after {
  background-color: #00D237;
}
.friend__img_container.offline::after {
  background-color: #D20000;
}
.friend__img {
  width: 100%;
}

.menu {
  grid-column: 2/4;
}
