/* header */

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 1.5rem;
    width: 100vw;
    padding: 1.25rem 1.25rem;
}

/* header nav */

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

header li {
    margin-right: -0.7rem;
    overflow: hidden;
    -webkit-clip-path: polygon(1rem 0, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
            clip-path: polygon(1rem 0, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
    background: #1B1F25;
}

header li.active {
    background: linear-gradient(to left, #FC8B00, #DB1D00);
}

header li:not(.active):hover {
    background: #272C34;
}

/* nav text */
header li a {
    width: 15.625rem;
    text-align: center;
}


/* options text and nav a styles */
header a {
    display: block;
    padding: 1rem 0;
    color: white;
    text-align: center;
    text-decoration: none;
}



/* search form */

header form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 20rem;
    align-self: stretch;
    //overflow: hidden;
    //clip-path: polygon(1rem 0, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
    background: linear-gradient(to left, rgba(255,255,255,0.8), rgb(255,255,255));
}
header input {
    font-family: 'Bourgeois', sans-serif;
    font-size: .8rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    align-self: stretch;
    border: none;
    background: none;
    -webkit-clip-path: polygon(1rem 0, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
            clip-path: polygon(1rem 0, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
}
header input[type=search] {
    flex: 3;
    padding: 0 0 0 1.5rem;
}

header input[type=submit] {
    flex: 2;
}





